* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  background-color: #000;
}
header {
  background-color: #000;
  max-width: 100%;
  border-bottom: 1px solid #fff;
}
.nav {
  display: flex;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  /* max-width: 60%; */
  margin: 0.1rem auto;
  color: #fff;
}
.contact-btn {
  background-color: #1111;
  border: 1px solid #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: #fff;
}

.name-logo {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100rem;
  margin: 8rem auto 4rem auto;
}
.text-content {
  margin-top: 9rem;
}
.intro-icon {
  margin: 3rem 0rem;
  display: flex;
  gap: 2rem;
}
h1 {
  font-size: 6rem;
  color: #fff;
}
h3 {
  color: #fff;
  font-size: 3rem;
}
span {
  color: #fff;
}
ion-icon {
  color: #fff;
  font-size: 4rem;
}
ion-icon:hover {
  cursor: pointer;
  /* transform: translateY(-1rem); */
}
.profile-btn {
  padding: 2rem 5rem;
  /* border-radius: 2rem; */
  border-radius: 0 10px 20px;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.8rem;
}
.profile-btn a {
  text-decoration: none;
  color: #fff;
}
.profile-btn:hover {
  cursor: pointer;
  font-weight: 700;
}
main img {
  width: 40rem;
  border-radius: 50%;
}
.profile-image {
  width: 40rem;
  height: 40rem;
}

main img:hover {
  transform: scale(1.01);
  overflow: hidden;
}

.modal ul {
  line-height: 2;
  list-style: none;
}
.modal ul a {
  font-size: 3rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
