* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 31);
  color: #fff;
}
.main {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.name-logo {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.nav:hover,
.nav:active {
  cursor: pointer;
  text-decoration: underline;
}
.hero {
  background-image: linear-gradient(
    to bottom right,
    #01011a,
    rgba(0, 0, 0, 0.637)
  );
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #fff;
  padding: 4rem 4rem;
}
.hero-text {
  margin-top: 9rem;
}
.hero-text h1 {
  font-size: 6rem;
}
.text-elements {
  margin-bottom: 6rem;
}
.hero-btns {
  display: flex;
  gap: 1.5rem;
}
.hero-btn {
  padding: 1rem 4rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(2, 2, 54, 0.26);
}
.hero-btn:hover,
.hero-btn:active {
  cursor: pointer;
  text-decoration: underline;
}
.btn-cv {
  background-color: #fff;
  color: #010113;
  border-radius: 0 10px 20px;
  /* box-shadow: #850f0f 0px 4px 1px; */
}
.hero-image {
  overflow: hidden;
}
.hero-image img {
  width: 40rem;
  border-radius: 50%;
  opacity: 0.7;
}

.about {
  font-size: 1.8rem;
  padding: 6rem 2rem;
  background-color: #ccccd9;
}
.about h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #010113;
}
.about p {
  line-height: 2.5rem;
  color: #010113cb;
}
.cv-element {
  margin: 2rem;
  text-align: center;
}
.check-cv {
  padding: 1rem 4rem;
  border: 2px solid #010113;
  background-color: #010113;
  color: #fff;
  border-radius: 0 10px 20px;
  box-shadow: #850f0f 0px 4px 1px;
}
.services {
  /* margin: 2rem 9rem; */
  font-size: 1.8rem;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #ccccd9;
}
.services h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #010113;
}
.services p {
  line-height: 2.5rem;
  color: #010113cb;
  margin-bottom: 3rem;
}
.projects {
  padding: 9rem 9rem;
  background-color: #e6e6ec;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.project {
  padding: 4rem 2rem;
  font-size: 1.6rem;
  background-color: #ccccd9;
  border-radius: 1rem;
}
.project p {
  line-height: 2.5rem;
  color: #010113cb;
  margin-bottom: 2rem;
}
.project h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.project-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}
ion-icon {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}
.project-btn {
  padding: 1rem 2rem;
  background-color: #010130;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
footer {
  font-size: 1.6rem;
  padding: 3rem 4rem;
  background-color: #ccccd9;
}
footer h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
footer p {
  text-align: center;
  margin-bottom: 4rem;
  color: #010113cb;
}
.contact-elements {
  display: flex;
  justify-content: space-between;
  /* gap: 10rem; */
  padding: 1rem 20rem;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
form input,
form textarea {
  width: 50rem;
  padding: 0.5rem 1.5rem;
}
.contact-list ul {
  list-style: none;
  color: #010113cb;
}
