* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #000;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0rem;
  font-size: 1.6rem;
  position: sticky;
  width: 110rem;
  margin: 0.1rem auto;
  z-index: 100;
  top: 0;
  background-color: #000;
  color: #fff;
  align-items: center;
}
.contact-btn {
  background-color: #1111;
  border: 1px solid #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: #fff;
}
main {
  /* content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0; */
  border-top: 0.02px solid rgba(255, 255, 255, 0.705);
}
.name-logo {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
/* ul a {
  text-decoration: none;
  color: #fff;
} */
ul :hover,
ul :active {
  /* padding: 1rem 1rem; */
  /* background-color: #e6e6ec; */
  border-radius: 0.2rem;
  color: #0707ced5;
  font-weight: 600;
}
.nav:hover,
.nav:active {
  cursor: pointer;
}
.menu-icon {
  display: none;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

#hero {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #fff;
  height: 100vh;
  width: 110rem;
  margin: 5rem auto 0rem auto;
}
.input {
  margin-top: 10rem;
  font-size: 4rem;
}
.text-elements {
  margin: 12rem 0rem 3rem 0rem;
}
.hero-btns {
  display: flex;
  align-content: center;
}
.hero-btn {
  padding: 1rem 4rem;
  background-color: #fff;
  font-weight: 600;
}
.hero-btn:hover,
.hero-btn:active {
  cursor: pointer;
  color: #020246;
  font-weight: 700;
}
.btn-cv {
  background-color: #fff;
  color: #111;
  border-radius: 0 10px 20px;
}
.hero-image {
  margin-right: 0rem;
}
.hero-image img {
  width: 40rem;
  border-radius: 5%;
  opacity: 0.7;
  height: 70vh;
}
.hero-image img:hover {
  transform: scale(1.01);
  overflow: hidden;
}

#about {
  width: 100rem;
  margin: 0rem auto;
  font-size: 1.6rem;
  padding: 6rem 2rem;
}
#about h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
#about p {
  line-height: 2.5rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.712);
}
.cv-element {
  margin: 2rem;
  text-align: center;
}
.check-cv {
  padding: 1rem 4rem;
  background-color: #fff;
  font-weight: 600;
}

#projects {
  padding: 9rem 9rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.project:hover {
  transform: scale(1.008);
  overflow: hidden;
}
.project {
  box-shadow: #010130b0 1px 0px 5px 4px;
  padding: 4rem 2rem;
  font-size: 1.6rem;
  background-color: #000;
  border-radius: 0.2rem;
}
.project p {
  line-height: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}
.project h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #fff;
}
.project-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #fff;
}
ion-icon {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  color: #fff;
}
.project-btn {
  padding: 1rem 2rem;
  background-color: #fff;
  /* color: #fff; */
  border: none;
  border-radius: 0.5rem;
}
footer {
  font-size: 1.6rem;
  padding: 3rem 4rem;
}
footer h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}
footer p {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.753);
}
.contact-elements {
  display: flex;
  justify-content: space-between;
  /* gap: 10rem; */
  padding: 1rem 20rem;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
form input,
form textarea {
  width: 50rem;
  padding: 0.5rem 1.5rem;
}
.submit {
  background-color: #111;
  border: none;
  padding: 1rem 0rem;
  color: #fff;
  width: 20rem;
  margin: auto;
}
.contact-list ul {
  list-style: none;
  color: rgba(255, 255, 255, 0.753);
}
